.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.visible {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hidden {
  display: none;
}
